* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1700px;
  background-color: white;
}

header {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: #44446b;
}

footer {
  background-color: #44446b;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #logoContainer .logo {
    width: 20vh;
    height: 18vh;
    animation: animacionLogo 1s linear infinite alternate;
  }
}

@media only screen and (max-width: 1099.9px) {
  .logo {
    height: 30vh;
    width: 15vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 1rem;
    animation: animacionLogo 1s linear infinite alternate;
  }
  #logoContainer {
    min-height: 70%;
    min-width: 60%;
    display: flex;
  }
  @keyframes animacionLogo {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1.1);
    }
  }
}

@media only screen and (min-width: 1100px) {
  /* HEADER */
  header {
    height: 25vh;
    display: flex;
  }
  .logo {
    height: 20vh;
    width: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 1rem;
    animation: animacionLogo 1s linear infinite alternate;
  }
  #logoContainer {
    width: 30%;
  }
  @keyframes animacionLogo {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 700px) {
  .navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #44446b;
    color: white;
  }
  .brandTitle {
    font-size: 1rem;
    margin: 0.5rem;
    height: 1.5rem;
  }
  #navbarLinks {
    height: 100%;
  }
  #navbarLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  #navbarLinks li {
    list-style: none;
    transition: background-color 4s ease;
  }
  #navbarLinks li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  #navbarLinks li:hover {
    background-color: #555;
  }
  .toggleButton {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  #navbarLinks:target {
    display: flex;
  }
  .navBar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .toggleButton {
    display: flex;
  }
  #navbarLinks {
    display: none;
    width: 100%;
  }
  #navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }
  #navbarLinks ul li {
    text-align: center;
  }
  #navbarLinks ul a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 1099.9px) {
  nav {
    flex: 1;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  nav li a {
    color: beige;
    font-size: 1.5rem;
    text-decoration-line: none;
  }
  a:hover {
    color: black;
  }
}

@media only screen and (min-width: 1100px) {
  nav {
    flex: 1;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  nav li a {
    color: beige;
    font-size: 1.2rem;
    text-decoration-line: none;
    transition: all 0.5s ease;
    font-weight: bolder;
  }
  nav a:hover {
    color: black;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1099.9px) {
  .presentation {
    width: 95%;
    margin: auto;
    min-height: 60%;
    display: flex;
    flex-direction: column;
  }
  .presentationImg {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
  }
  .imgPresentation {
    width: 20rem;
    margin-top: 1.5rem;
    height: 95%;
    justify-items: center;
  }
}

@media only screen and (min-width: 1100px) {
  .presentation {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .presentationImg {
    width: 50%;
  }
  .presentationTitulos {
    width: 50%;
  }
  .imgPresentation {
    width: 32rem;
    margin-top: 1.5rem;
    height: 90%;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .presentationTitulos .text-titulos, .presentationTitulos .text__titulos--titulo2 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .presentationTitulos .text-present, .presentationTitulos .text__present--text2 {
    font-size: .8rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1099.9px) {
  .text-titulos {
    margin-top: 20px;
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
  .text__titulos--titulo2 {
    margin-top: 18px;
  }
  .text-present {
    margin-top: 1.5rem;
    color: #970484;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
  }
  .text__present--text2 {
    margin-top: 1.3rem;
  }
}

@media only screen and (min-width: 1100px) {
  .text-titulos {
    margin-top: 3rem;
    padding: 1.5rem;
    color: black;
    font-weight: bolder;
    font-size: 1.7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text__titulos--titulo2 {
    padding: 1.1rem;
    margin-top: 1.5rem;
  }
  .text-present {
    margin: 1.1rem;
    color: #970484;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .text__present--text2 {
    margin-top: 1rem;
  }
}

.redesFooter {
  width: 3rem;
  height: 2.5rem;
}

.carousel-inner {
  width: 95%;
  margin: 0 auto;
}

.carousel-item {
  background-image: url("https://images.unsplash.com/photo-1556739442-4c892bcbe8ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80");
  background-position: bottom;
  background-size: cover;
  min-height: 75vh;
}

.carousel__item--background2 {
  background-image: url("https://images.unsplash.com/photo-1585383234137-2367d3c5302d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
}

.carousel__item--background3 {
  background-image: url("https://images.unsplash.com/photo-1497800839469-bdbe4fd9d391?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: top;
}

.productos {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.productos .productos__titulo {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #970484;
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: center;
}

.productos__img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: #44446b 10px solid;
  width: fit-content;
}

.productos__img img {
  max-width: 100%;
  width: 17rem;
  border-radius: 1rem;
  transition: all 0.5s ease;
  opacity: 80%;
  object-fit: cover;
  margin: 30px;
  cursor: pointer;
}

.productos__img img:hover {
  opacity: 100%;
}

@media only screen and (max-width: 1099.9px) {
  .sesiones-container {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }
  .sesiones-item {
    display: flex;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
  }
  .sesiones-text {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .sesiones-text h2 {
    color: black;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  .sesiones-text p {
    color: #970484;
    font-size: 0.9rem;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 1100px) {
  .sesiones-container {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  .sesiones-container .sesiones-item {
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: space-between;
  }
  .sesiones-container .sesiones-text {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
  }
  .sesiones-container .sesiones-text h2 {
    color: black;
    margin: 20px 0;
    padding: 10px 0;
    font-weight: bolder;
  }
  .sesiones-container .sesiones-text p {
    color: #970484;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .sesiones-container .sesiones-img {
    width: 25vw;
    border-radius: 10px;
  }
}

.form-title {
  text-align: center;
  color: beige;
}

.form-title span {
  color: black;
}

.contenedor form {
  background-color: #44446b;
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 10px;
  padding-bottom: 30px;
  border-radius: 30px;
}

.contenedor .form-label {
  display: block;
  font-size: 1rem;
  color: beige;
  position: relative;
}

.form-input,
.form-textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid #1b003a;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 1rem;
}

.contenedor .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.btn-submit {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 15px 0;
  cursor: pointer;
  transition: all 2s ease;
}

.btn-submit:hover {
  background-color: #08f850;
}

.main-container {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.main-container .text-container {
  width: 100%;
}

.main-container .text-container h2 {
  flex: 1 1 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  color: black;
  font-weight: bolder;
  animation: all 2s ease;
}

.main-container .text-container h2:hover {
  color: #970484;
}

.mapsRamos {
  width: 100%;
}

.contenedor {
  width: 100%;
  margin: auto;
}

.mapGoogle {
  height: 50vh;
  width: 100%;
  min-width: 40%;
}

@media only screen and (max-width: 766.9px) {
  .mainConocenos {
    width: 95%;
    margin: auto;
  }
  .imgConocenos {
    border-radius: 30px;
  }
  .container-text {
    font-weight: bolder;
  }
  .container-text h2 {
    font-size: 1.3em;
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
  }
  .container-text p {
    color: #970484;
    font-size: 1em;
    width: 95%;
    margin: 0 .5em;
  }
}

@media only screen and (min-width: 767px) {
  .mainConocenos {
    width: 95%;
    margin: auto;
  }
  .imgConocenos {
    border-radius: 30px;
  }
  .container-text {
    font-weight: bolder;
  }
  .container-text h2 {
    color: black;
    font-size: 1.6em;
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
  }
  .container-text p {
    color: #970484;
    font-size: 1.2em;
    width: 95%;
    margin: 0 .9em;
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.error-message .error-message__container {
  text-align: center;
  color: #970484;
  font-weight: bolder;
}

.error-message h1 {
  font-size: 4rem;
}

.error-message p {
  font-size: 1.5rem;
}

.error-message a {
  text-decoration: none;
}

.error-message .animation {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes error {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.error-message .error {
  animation-name: error;
}
/*# sourceMappingURL=style.css.map */