.mainConocenos {
  width: 95%;
  margin: auto;
}
  

  .imgConocenos {
    border-radius: 30px;
  }
  


  .container-text {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    h2 {
      color:black;
      font-size: 1.6em;
      margin: 30px;
      padding: 10px;
     
    }
    p {
      color: $color-text;
      font-size: 1.2em;
      width: 95%;
      margin: 0 .5em;
      
      
    }
  }

