

  @media only screen and (max-width: 766.9px) {

    .mainConocenos {
      width: 95%;
      margin: auto;
    }
      
    
    
      .imgConocenos {
        border-radius: 30px;
      }
      
    
    
      .container-text {
        font-weight: bolder;
        h2 {
          font-size: 1.3em;
          margin: 20px;
          padding: 10px;
          font-weight: bolder;
         
        }
        p {
          color: $color-text;
          font-size: 1em;
          width: 95%;
          margin: 0 .5em;
          
          
        }
      }
  
  
  }
  
  
  
  @media only screen and (min-width: 767px) {
  
  .mainConocenos {
    width: 95%;
    margin: auto;
  }
    
  
  
    .imgConocenos {
      border-radius: 30px;
    }
    
  
  
    .container-text {
      font-weight: bolder;
      h2 {
        color:black;
        font-size: 1.6em;
        margin: 20px;
        padding: 10px;
        font-weight: bolder;
       
      }
      p {
        color: $color-text;
        font-size: 1.2em;
        width: 95%;
        margin: 0 .9em;
        
        
      }
    }
  
  }
  