.sesiones-container {
  @include stylemargin(95%, auto);
}

.sesiones-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imagenes {
  position: relative;
  flex: 1;
  max-width: 320px;
  min-width: 320px;
  height: 450px;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  background-color: black;
  cursor: pointer;
}

.imagenes img {
  height: 450px;
  width: 320px;
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.imagenes:hover img {
  opacity: 1;
}

.imagenes .textos {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

.imagenes .textos h2 {
  background-color: #970483ab;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}

.imagenes .textos h2 span {
  font-weight: 900;
}

.imagenes:hover .textos h2 {
  transform: translateY(-60px);
}

.imagenes .textos p {
  background-color: $color-text;
  margin: 30px 30px 0 30px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.imagenes:hover .textos p {
  opacity: 1;
  transform: translateY(-50px);
}

.link-consulta {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s;
  transition-property: bottom;
}

.imagenes:hover .link-consulta {
  bottom: 0;
}

.link-consulta .consulta-aca {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.link-consulta .consulta-aca span {
  font-weight: 900;
}

@media (max-width: 1080px) {
  .imagenes {
    flex: 100%;
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .imagenes .textos p {
    font-size: 15px;
  }

  .link-consulta .consulta-aca {
    font-size: 15px;
  }
}
