//---- mixins usado en _imgIndex.scss-----//

@mixin stylemargin($width, $margin) {
    width: $width;
    margin: $margin;
    
    }
    




$color-text: #970484;
$color-bk: #44446b;

//-- Para operaciones usadas en _productos.scss--//
$opacidad: 10%;

$ancho: 100%;



